<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT DOG1</title>
  </head>
  <body id="chat-screen">
    <div class="status-bar">
      <div class="status-bar__column">
        <span>Verizon</span>
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>12:00</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <i class="fa-solid fa-battery-full fa-lg"></i>
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>

    <header class="alt-header">
      <div class="alt-header__column">
        <a href="chats.html">
          <i class="fa-solid fa-angle-left fa-3x"></i>
        </a>
      </div>
      <div class="alt-header__column">
        <h1 class="alt-header__title">dog1</h1>
      </div>
      <div class="alt-header__column">
        <span><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
        <span><i class="fa-solid fa-bars fa-lg"></i></span>
      </div>
    </header>

    <main class="main-screen main-chat">
      <div class="chat__timestamp">Sunday, Nov 13, 2022</div>
      <div class="message-row">
        <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
        <div class="message-row__content">
          <span class="message__author">dog1</span>
          <div class="message__info">
            <span class="message__bubble">Hi!</span>
            <span class="message__time">12:00</span>
          </div>
        </div>
      </div>

      <div class="message-row message-row--own">
        <div class="message-row__content">
          <div class="message__info">
            <span class="message__bubble">Hi! Nice to meet you</span>
            <span class="message__time">12:00</span>
          </div>
        </div>
      </div>

      <div style="position: absolute; right: 23px; bottom: 250px">
        <div class="gender1 message-row message-row--own" style="display: none">
          <div class="message-row__content">
            <div class="message__info">
              <span class="message__bubble message-row--own"
                >Are you a boy or a girl?</span
              >
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div style="position: absolute; left: 23px; bottom: 150px">
        <div class="gender2" style="display: none" class="message-row">
          <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
          <div class="message-row__content">
            <span class="message__author">dog1</span>
            <div class="message__info">
              <span class="message__bubble">I'm a boy!</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div style="position: absolute; right: 23px; bottom: 50px">
        <div class="age1 message-row message-row--own" style="display: none">
          <div class="message-row__content">
            <div class="message__info">
              <span class="message__bubble">How old are you?</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; left: 23px; bottom: -50px">
        <div class="age2" style="display: none" class="message-row">
          <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
          <div class="message-row__content">
            <span class="message__author">dog1</span>
            <div class="message__info">
              <span class="message__bubble">I'm three years old!</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div style="position: absolute; right: 23px; bottom: -150px">
        <div class="type1 message-row message-row--own" style="display: none">
          <div class="message-row__content">
            <div class="message__info">
              <span class="message__bubble">What kind of breed are you?</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; left: 23px; bottom: -250px">
        <div class="type2" style="display: none" class="message-row">
          <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
          <div class="message-row__content">
            <span class="message__author">dog1</span>
            <div class="message__info">
              <span class="message__bubble">I'm a beagle!</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div style="position: absolute; right: 23px; bottom: -350px">
        <div class="weight1 message-row message-row--own" style="display: none">
          <div class="message-row__content">
            <div class="message__info">
              <span class="message__bubble">What is your weight?</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>
      <div style="position: absolute; left: 23px; bottom: -450px">
        <div class="weight2" style="display: none" class="message-row">
          <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
          <div class="message-row__content">
            <span class="message__author">dog1</span>
            <div class="message__info">
              <span class="message__bubble">I'm 13lb</span>
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>

      <div style="position: absolute; left: 23px; bottom: 250px">
        <div class="summary" style="display: none" class="message-row">
          <img src="file:///Users/henry/Desktop/kokoa/trip.png" />
          <div class="message-row__content">
            <span class="message__author">dog1</span>
            <div class="message__info">
              <span class="message__bubble"
                >Let me introduce myself! I'm a boy and three years old. I'm a
                beagle and 13lb.</span
              >
              <span class="message__time">12:00</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    <form class="reply">
      <div class="reply__column">
        <i class="fa-solid fa-square-plus fa-lg"></i>
      </div>
      <div class="reply__column">
        <input type="text" placeholder="Write a message.." />
        <i class="fa-solid fa-face-grin fa-lg"></i>
        <button><i class="fa-solid fa-arrow-up"></i></button>
      </div>
    </form>

    <button id="gender_button">Gender</button>
    <div class="space"></div>
    <button id="age_button">Age</button>
    <div class="space"></div>
    <button id="type_button">Type</button>
    <div class="space"></div>
    <button id="weight_button">Weight</button>
    <div class="space"></div>
    <button id="summary_button">Summary</button>

    <script
      src="https://kit.fontawesome.com/cb1646ad56.js"
      crossorigin="anonymous"
    ></script>
    <script src="js/chat.js"></script>
  </body>
</html>
