<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends - Kakao Talk Clone</title>
</head>
<body>
<form action="members/friends">
<div class="status-bar">
    <div class="status-bar__column">
        <span>Verizon</span>
        <i class="fa-solid fa-wifi"></i>
    </div>
    <div class="status-bar__column">
        <span>18:43</span>
    </div>
    <div class="status-bar__column">
        <span>100%</span>
        <i class="fa-solid fa-battery-full fa-lg"></i>
        <i class="fa-solid fa-bolt"></i>
    </div>
</div>
<header class="screen-header">
    <h1 class="screen-header__title">Pets</h1>
    <div class="screen-header__icons">
        <span><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
        <span><i class="fa-solid fa-music fa-lg"></i></span>
        <span><i class="fa-solid fa-gear fa-lg"></i></span>
    </div>
</header>
<a id="friends-display-link"
><i class="fa-solid fa-circle-info"></i> Pets Near You<i
        class="fa-solid fa-chevron-right fa-xs"
></i>
</a>
<main class="friends-screen">
    <div class="user-component">
        <div class="user-component__column">
            <img
                    th:href="@{/Images/blank-profile-picture-973460_1280.png}"
                    class="user-component__avatar user-component__avatar--xl"
            />
            <div class="user-component__text">
                <h4 class="user-component__title">Henry</h4>
                <!--<h6 class="user-component__subtitle">this text whatever</h6>-->
            </div>
        </div>
        <div class="user_component__column"></div>
    </div>
    <div class="friends-screen__channel">
        <div class="friends-screen__channel-header">
            <span>Pets</span>
            <i class="fas fa-chevron-up fa-xs"></i>
        </div>

        <!--dog_name1-->
        <a href="dog1Chat.html">
            <div class="user-component">
                <div class="user-component__column">
                    <img
                            src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                            class="user-component__avatar user-component__avatar--sm"
                    />
                    <div class="user-component__text">
                        <h4 class="user-component__title user-component__title--not-bold">dog_name1</h4>
                    </div>
                </div>
                <div class="user_component__column">
                    <div>
                        <span>10 miles</span>
                        <i class="fa-solid fa-chevron-right fa-xs"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <br><br>

    <!--dog_name2-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name2</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>11 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name3-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name3</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>12 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>
    <!--dog_name4-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name4</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>13 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>
    <!--dog_name5-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name5</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>14 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name6-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name6</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>17 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name7-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name7</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>18 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name8-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name8</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>19 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name9-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name9</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>11 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

    <!--dog_name10-->
    <a href="dog1Chat.html">
        <div class="user-component">
            <div class="user-component__column">
                <img
                        src="https://img.freepik.com/free-photo/view-of-adorable-chihuahua-dog-in-the-house_23-2149880074.jpg?w=1800&t=st=1668314835~exp=1668315435~hmac=4f5bed1de65d8fcf9524233af580ffa1dde7de41df560ded902c4ccdee2670ec"
                        class="user-component__avatar user-component__avatar--sm"
                />
                <div class="user-component__text">
                    <h4 class="user-component__title user-component__title--not-bold">dog_name10</h4>
                </div>
            </div>
            <div class="user_component__column">
                <div>
                    <span>18 miles</span>
                    <i class="fa-solid fa-chevron-right fa-xs"></i>
                </div>
            </div>
        </div>
    </a>
    <br><br>

</main>
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn">
            <a class="nav__link" href="friends.html"
            ><i class="fa-solid fa-user fa-2x"></i
            ></a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="chats.html"
            ><span class="nav__notification badge"> 1 </span>
                <i class="fa-solid fa-comment fa-2x"></i
                ></a>
        </li>

        <li class="nav__btn">
            <a class="nav__link" href="more.html">
            <span class="nav__update"></span
            ><i class="fa-solid fa-ellipsis fa-2x"></i
            ></a>
        </li>
    </ul>
</nav>
<div id="splash-screen">

</div>


<script
        src="https://kit.fontawesome.com/cb1646ad56.js"
        crossorigin="anonymous"
></script>
</form>
</body>
</html>
